@model GrainMaster.Models.CombinedPortFolioModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_master.cshtml";
}


<div class="mb-3 mb-md-4 d-flex justify-content-between">
    <div class="h3 mb-0">
        &nbsp; &nbsp;Breaking Bad { Meth Head Strategy }
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xl-4 mb-3 mb-md-4">
        <!-- Card -->
        <div class="card h-100">            
            <div class="card-header d-flex">
                <h5 class="h6 font-weight-semi-bold text-uppercase mb-0">TATA MOTORS</h5>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="media align-items-center px-3 px-md-4 mb-3 mb-md-4">
                    <div class="media-body">
                        <h4 class="h3 lh-1 mb-2">₹300 X 2000 = ₹60,000 </h4>
                        <p class="small text-muted mb-0">
                            +₹7,213.38 <span class="text-success mx-1">+10.23%</span>
                        </p>
                        <p class="small text-muted mb-0" style="padding-top:5px;">
                            <a href="#" class="badge badge-pill badge-success">Positive Deals</a>
                            <a href="#" class="badge badge-pill badge-success">News</a>
                            <a href="#" class="badge badge-pill badge-success">Volume Spiked</a>
                        </p>
                        <p class="small text-muted mb-0" style="padding-top:15px;">
                            <span class="badge badge-complex bg-semi-soft-primary text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">LD</span>
                                <span style="font-size:medium;">30%&nbsp;&nbsp;</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">WD</span>
                                <span style="font-size:medium;">27%&nbsp;&nbsp;</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">MD</span>
                                <span style="font-size:medium;">30%&nbsp;&nbsp;</span>
                            </span>
                        </p>
                        <p class="small text-muted mb-0" style="padding-top:5px;">
                            <span class="badge badge-complex bg-semi-soft-danger text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">S1</span>
                                <span style="font-size:medium;">₹300</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-danger text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">S2</span>
                                <span style="font-size:medium;">₹300</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-danger text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">S3</span>
                                <span style="font-size:medium;">₹300</span>
                            </span>
                        </p>
                        <p class="small text-muted mb-0" style="padding-top:5px;">
                            <span class="badge badge-complex bg-semi-soft-primary-darker text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">R1</span>
                                <span style="font-size:medium;">₹300</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary-darker text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">R2</span>
                                <span style="font-size:medium;">₹300</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary-darker text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">R3</span>
                                <span style="font-size:medium;">₹300</span>
                            </span>
                        </p>
                        <p class="small text-muted mb-0" style="padding-top:5px;">
                            <span class="badge badge-complex bg-semi-soft-primary text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">5</span>
                                <span style="font-size:medium;">₹300</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">10</span>
                                <span style="font-size:medium;">₹300</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">20</span>
                                <span style="font-size:medium;">₹300</span>
                            </span>                            
                        </p>
                        <p class="small text-muted mb-0" style="padding-top:5px;">
                            <span class="badge badge-complex bg-semi-soft-primary text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">50</span>
                                <span style="font-size:medium;">₹300</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">100</span>
                                <span style="font-size:medium;">₹300</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">200</span>
                                <span style="font-size:medium;">₹300</span>
                            </span>                           
                        </p>

                        <p class="small mb-0 text-darker" style="padding-top:25px;">
                            <button class="btn btn-success btn-sm rounded-pill" type="button">Add Campaign</button>&nbsp;
                            <button class="btn btn-warning btn-sm rounded-pill" type="button">Edit</button>
                        </p>
                        <p class="small mb-0 text-darker" style="text-align:right;">
                            Added : <strong>@DateTime.Now.ToLongDateString()</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Card -->
    </div>
    <div class="col-md-6 col-xl-4 mb-3 mb-md-4">
        <!-- Card -->
        <div class="card h-100">
            <div class="card-header d-flex">
                <h5 class="h6 font-weight-semi-bold text-uppercase mb-0">TATA MOTORS</h5>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="media align-items-center px-3 px-md-4 mb-3 mb-md-4">
                    <div class="media-body">
                        <h4 class="h3 lh-1 mb-2">₹300 X 2000 = ₹60,000 </h4>
                        <p class="small text-muted mb-0">
                            +₹7,213.38 <span class="text-success mx-1">+10.23%</span>
                        </p>
                        <p class="small text-muted mb-0" style="padding-top:5px;">
                            <a href="#" class="badge badge-pill badge-success">Positive Deals</a>
                            <a href="#" class="badge badge-pill badge-success">News</a>
                            <a href="#" class="badge badge-pill badge-success">Volume Spiked</a>
                        </p>
                        <p class="small text-muted mb-0" style="padding-top:15px;">
                            <span class="badge badge-complex bg-semi-soft-primary text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">LD</span>
                                <span style="font-size:medium;">30%&nbsp;&nbsp;</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">WD</span>
                                <span style="font-size:medium;">27%&nbsp;&nbsp;</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">MD</span>
                                <span style="font-size:medium;">30%&nbsp;&nbsp;</span>
                            </span>
                        </p>
                        <p class="small text-muted mb-0" style="padding-top:5px;">
                            <span class="badge badge-complex bg-semi-soft-danger text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">S1</span>
                                <span style="font-size:medium;">₹2,264</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-danger text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">S2</span>
                                <span style="font-size:medium;">₹2,264</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-danger text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">S3</span>
                                <span style="font-size:medium;">₹2,264</span>
                            </span>
                        </p>
                        <p class="small text-muted mb-0" style="padding-top:5px;">
                            <span class="badge badge-complex bg-semi-soft-primary-darker text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">R1</span>
                                <span style="font-size:medium;">₹2,264</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary-darker text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">R2</span>
                                <span style="font-size:medium;">₹2,264</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary-darker text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">R3</span>
                                <span style="font-size:medium;">₹2,264</span>
                            </span>
                        </p>

                        <p class="small mb-0 text-darker" style="padding-top:25px;">
                            <button class="btn btn-success btn-sm rounded-pill" type="button">Add Campaign</button>&nbsp;
                            <button class="btn btn-warning btn-sm rounded-pill" type="button">Edit</button>
                        </p>
                        <p class="small mb-0 text-darker" style="text-align:right;">
                            Added : <strong>@DateTime.Now.ToLongDateString()</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Card -->
    </div>
    <div class="col-md-6 col-xl-4 mb-3 mb-md-4">
        <!-- Card -->
        <div class="card h-100">
            <div class="card-header d-flex">
                <h5 class="h6 font-weight-semi-bold text-uppercase mb-0">TATA MOTORS</h5>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="media align-items-center px-3 px-md-4 mb-3 mb-md-4">
                    <div class="media-body">
                        <h4 class="h3 lh-1 mb-2">₹300 X 2000 = ₹60,000 </h4>
                        <p class="small text-muted mb-0">
                            +₹7,213.38 <span class="text-success mx-1">+10.23%</span>
                        </p>
                        <p class="small text-muted mb-0" style="padding-top:5px;">
                            <a href="#" class="badge badge-pill badge-success">Positive Deals</a>
                            <a href="#" class="badge badge-pill badge-success">News</a>
                            <a href="#" class="badge badge-pill badge-success">Volume Spiked</a>
                        </p>
                        <p class="small text-muted mb-0" style="padding-top:15px;">
                            <span class="badge badge-complex bg-semi-soft-primary text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">LD</span>
                                <span style="font-size:medium;">30%&nbsp;&nbsp;</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">WD</span>
                                <span style="font-size:medium;">27%&nbsp;&nbsp;</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">MD</span>
                                <span style="font-size:medium;">30%&nbsp;&nbsp;</span>
                            </span>
                        </p>
                        <p class="small text-muted mb-0" style="padding-top:5px;">
                            <span class="badge badge-complex bg-semi-soft-danger text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">S1</span>
                                <span style="font-size:medium;">₹2,264</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-danger text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">S2</span>
                                <span style="font-size:medium;">₹2,264</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-danger text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">S3</span>
                                <span style="font-size:medium;">₹2,264</span>
                            </span>
                        </p>
                        <p class="small text-muted mb-0" style="padding-top:5px;">
                            <span class="badge badge-complex bg-semi-soft-primary-darker text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">R1</span>
                                <span style="font-size:medium;">₹2,264</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary-darker text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">R2</span>
                                <span style="font-size:medium;">₹2,264</span>
                            </span>
                            <span class="badge  badge-complex bg-semi-soft-primary-darker text-white">
                                <span class="badge badge-sm badge-danger rounded-circle mr-2">R3</span>
                                <span style="font-size:medium;">₹2,264</span>
                            </span>
                        </p>

                        <p class="small mb-0 text-darker" style="padding-top:25px;">
                            <button class="btn btn-success btn-sm rounded-pill" type="button">Add Campaign</button>&nbsp;
                            <button class="btn btn-warning btn-sm rounded-pill" type="button">Edit</button>
                        </p>
                        <p class="small mb-0 text-darker" style="text-align:right;">
                            Added : <strong>@DateTime.Now.ToLongDateString()</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Card -->
    </div>

</div>
<div class="row">
    <div class="col-md-6 col-xl-4 mb-3 mb-xl-4">
        <!-- Widget -->
        <div class="card flex-row align-items-center p-3 p-md-4">
            <div class="icon icon-lg bg-soft-primary rounded-circle mr-3">
                <i class="gd-bar-chart icon-text d-inline-block text-primary"></i>
            </div>
            <div>
                <h4 class="lh-1 mb-1">80%</h4>
                <h6 class="mb-0">Gains</h6>
            </div>
            <i class="gd-arrow-up icon-text d-flex text-success ml-auto"></i>
        </div>
        <!-- End Widget -->
    </div>

    <div class="col-md-6 col-xl-4 mb-3 mb-xl-4">
        <!-- Widget -->
        <div class="card flex-row align-items-center p-3 p-md-4">
            <div class="icon icon-lg bg-soft-secondary rounded-circle mr-3">
                <i class="gd-wallet icon-text d-inline-block text-secondary"></i>
            </div>
            <div>
                <h4 class="lh-1 mb-1">₹18,000.00</h4>
                <h6 class="mb-0">Total Investment</h6>
            </div>
            <i class="gd-arrow-up icon-text d-flex text-success ml-auto"></i>
        </div>
        <!-- End Widget -->
    </div>

    <div class="col-md-6 col-xl-4 mb-3 mb-xl-4">
        <!-- Widget -->
        <div class="card flex-row align-items-center p-3 p-md-4">
            <div class="icon icon-lg bg-soft-warning rounded-circle mr-3">
                <i class="gd-money icon-text d-inline-block text-warning"></i>
            </div>
            <div>
                <h4 class="lh-1 mb-1">₹10,000.00</h4>
                <h6 class="mb-0">Net Profit</h6>
            </div>
            <i class="gd-arrow-up icon-text d-flex text-success ml-auto"></i>
        </div>
        <!-- End Widget -->
    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="card mb-3 mb-md-4">
            <div class="card-header">
                <h5 class="font-weight-semi-bold mb-0">Recent Orders</h5>
            </div>

            <div class="card-body pt-0">
                <div class="table-responsive-xl">
                    <table class="table text-nowrap mb-0">
                        <thead>
                            <tr>
                                <th class="font-weight-semi-bold border-top-0 py-2">#</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Customer</th>
                                @*<th class="font-weight-semi-bold border-top-0 py-2">Phone</th>*@
                                <th class="font-weight-semi-bold border-top-0 py-2">Quantity</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Amount</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Created Date</th>
                                @*<th class="font-weight-semi-bold border-top-0 py-2">Status</th>
                                    <th class="font-weight-semi-bold border-top-0 py-2">Actions</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.PortFolioList != null)
                            {
                                foreach (var item in Model.PortFolioList)
                                {
                                    <tr>
                                        <td class="py-3">@item.ID</td>
                                        <td class="py-3">
                                            <div>@item.StockName</div>
                                            <div class="text-muted">Acme Inc.</div>
                                        </td>
                                        <td class="py-3">@item.Quantity</td>
                                        <td class="py-3">@item.Price</td>
                                        <td class="py-3">@item.Date.ToString("MM/dd/yyyy")</td>
                                    </tr>
                                }
                            }
                            @*<tr>
                                    <td class="py-3">149531</td>
                                    <td class="py-3">
                                        <div>John Doe</div>
                                        <div class="text-muted">Acme Inc.</div>
                                    </td>
                                    <td class="py-3">(000) 111-1234</td>
                                    <td class="py-3">$1,230.00</td>
                                    <td class="py-3">
                                        <span class="badge badge-pill badge-warning">Pending</span>
                                    </td>
                                    <td class="py-3">
                                        <div class="position-relative">
                                            <a id="dropDown16Invoker" class="link-dark d-flex" href="#" aria-controls="dropDown16" aria-haspopup="true" aria-expanded="false" data-unfold-target="#dropDown16" data-unfold-event="click" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-animation-in="fadeIn" data-unfold-animation-out="fadeOut">
                                                <i class="gd-more-alt icon-text"></i>
                                            </a>

                                            <ul id="dropDown16" class="unfold unfold-light unfold-top unfold-right position-absolute py-3 mt-1 unfold-css-animation unfold-hidden fadeOut" aria-labelledby="dropDown16Invoker" style="min-width: 150px; animation-duration: 300ms; right: 0px;">
                                                <li class="unfold-item">
                                                    <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                        <i class="gd-pencil unfold-item-icon mr-3"></i>
                                                        <span class="media-body">Edit</span>
                                                    </a>
                                                </li>
                                                <li class="unfold-item">
                                                    <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                        <i class="gd-close unfold-item-icon mr-3"></i>
                                                        <span class="media-body">Delete</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-3">149531</td>
                                    <td class="py-3">
                                        <div>John Doe</div>
                                        <div class="text-muted">Acme Inc.</div>
                                    </td>
                                    <td class="py-3">(000) 111-1234</td>
                                    <td class="py-3">$1,230.00</td>
                                    <td class="py-3">
                                        <span class="badge badge-pill badge-success">Fulfilled</span>
                                    </td>
                                    <td class="py-3">
                                        <div class="position-relative">
                                            <a id="dropDown15Invoker" class="link-dark d-flex" href="#" aria-controls="dropDown15" aria-haspopup="true" aria-expanded="false" data-unfold-target="#dropDown15" data-unfold-event="click" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-animation-in="fadeIn" data-unfold-animation-out="fadeOut">
                                                <i class="gd-more-alt icon-text"></i>
                                            </a>

                                            <ul id="dropDown15" class="unfold unfold-light unfold-top unfold-right position-absolute py-3 mt-1 unfold-css-animation unfold-hidden fadeOut" aria-labelledby="dropDown15Invoker" style="min-width: 150px; animation-duration: 300ms; right: 0px;">
                                                <li class="unfold-item">
                                                    <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                        <i class="gd-pencil unfold-item-icon mr-3"></i>
                                                        <span class="media-body">Edit</span>
                                                    </a>
                                                </li>
                                                <li class="unfold-item">
                                                    <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                        <i class="gd-close unfold-item-icon mr-3"></i>
                                                        <span class="media-body">Delete</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-3">149531</td>
                                    <td class="py-3">
                                        <div>John Doe</div>
                                        <div class="text-muted">Acme Inc.</div>
                                    </td>
                                    <td class="py-3">(000) 111-1234</td>
                                    <td class="py-3">$1,230.00</td>
                                    <td class="py-3">
                                        <span class="badge badge-pill badge-warning">Pending</span>
                                    </td>
                                    <td class="py-3">
                                        <div class="position-relative">
                                            <a id="dropDown14Invoker" class="link-dark d-flex" href="#" aria-controls="dropDown14" aria-haspopup="true" aria-expanded="false" data-unfold-target="#dropDown14" data-unfold-event="click" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-animation-in="fadeIn" data-unfold-animation-out="fadeOut">
                                                <i class="gd-more-alt icon-text"></i>
                                            </a>

                                            <ul id="dropDown14" class="unfold unfold-light unfold-top unfold-right position-absolute py-3 mt-1 unfold-css-animation unfold-hidden fadeOut" aria-labelledby="dropDown14Invoker" style="min-width: 150px; animation-duration: 300ms; right: 0px;">
                                                <li class="unfold-item">
                                                    <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                        <i class="gd-pencil unfold-item-icon mr-3"></i>
                                                        <span class="media-body">Edit</span>
                                                    </a>
                                                </li>
                                                <li class="unfold-item">
                                                    <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                        <i class="gd-close unfold-item-icon mr-3"></i>
                                                        <span class="media-body">Delete</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-3">149531</td>
                                    <td class="py-3">
                                        <div>John Doe</div>
                                        <div class="text-muted">Acme Inc.</div>
                                    </td>
                                    <td class="py-3">(000) 111-1234</td>
                                    <td class="py-3">$1,230.00</td>
                                    <td class="py-3">
                                        <span class="badge badge-pill badge-danger">Cancelled</span>
                                    </td>
                                    <td class="py-3">
                                        <div class="position-relative">
                                            <a id="dropDown13Invoker" class="link-dark d-flex" href="#" aria-controls="dropDown13" aria-haspopup="true" aria-expanded="false" data-unfold-target="#dropDown13" data-unfold-event="click" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-animation-in="fadeIn" data-unfold-animation-out="fadeOut">
                                                <i class="gd-more-alt icon-text"></i>
                                            </a>

                                            <ul id="dropDown13" class="unfold unfold-light unfold-top unfold-right position-absolute py-3 mt-1 unfold-css-animation unfold-hidden fadeOut" aria-labelledby="dropDown13Invoker" style="min-width: 150px; animation-duration: 300ms; right: 0px;">
                                                <li class="unfold-item">
                                                    <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                        <i class="gd-pencil unfold-item-icon mr-3"></i>
                                                        <span class="media-body">Edit</span>
                                                    </a>
                                                </li>
                                                <li class="unfold-item">
                                                    <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                        <i class="gd-close unfold-item-icon mr-3"></i>
                                                        <span class="media-body">Delete</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-3">149531</td>
                                    <td class="py-3">
                                        <div>John Doe</div>
                                        <div class="text-muted">Acme Inc.</div>
                                    </td>
                                    <td class="py-3">(000) 111-1234</td>
                                    <td class="py-3">$1,230.00</td>
                                    <td class="py-3">
                                        <span class="badge badge-pill badge-success">Fulfilled</span>
                                    </td>
                                    <td class="py-3">
                                        <div class="position-relative">
                                            <a id="dropDown12Invoker" class="link-dark d-flex" href="#" aria-controls="dropDown12" aria-haspopup="true" aria-expanded="false" data-unfold-target="#dropDown12" data-unfold-event="click" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-animation-in="fadeIn" data-unfold-animation-out="fadeOut">
                                                <i class="gd-more-alt icon-text"></i>
                                            </a>

                                            <ul id="dropDown12" class="unfold unfold-light unfold-top unfold-right position-absolute py-3 mt-1 unfold-css-animation unfold-hidden fadeOut" aria-labelledby="dropDown12Invoker" style="min-width: 150px; animation-duration: 300ms; right: 0px;">
                                                <li class="unfold-item">
                                                    <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                        <i class="gd-pencil unfold-item-icon mr-3"></i>
                                                        <span class="media-body">Edit</span>
                                                    </a>
                                                </li>
                                                <li class="unfold-item">
                                                    <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                        <i class="gd-close unfold-item-icon mr-3"></i>
                                                        <span class="media-body">Delete</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-3">149531</td>
                                    <td class="py-3">
                                        <div>John Doe</div>
                                        <div class="text-muted">Acme Inc.</div>
                                    </td>
                                    <td class="py-3">(000) 111-1234</td>
                                    <td class="py-3">$1,230.00</td>
                                    <td class="py-3">
                                        <span class="badge badge-pill badge-light">Draft</span>
                                    </td>
                                    <td class="py-3">
                                        <div class="position-relative">
                                            <a id="dropDown11Invoker" class="link-dark d-flex" href="#" aria-controls="dropDown11" aria-haspopup="true" aria-expanded="false" data-unfold-target="#dropDown11" data-unfold-event="click" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-animation-in="fadeIn" data-unfold-animation-out="fadeOut">
                                                <i class="gd-more-alt icon-text"></i>
                                            </a>

                                            <ul id="dropDown11" class="unfold unfold-light unfold-top unfold-right position-absolute py-3 mt-1 unfold-css-animation unfold-hidden fadeOut" aria-labelledby="dropDown11Invoker" style="min-width: 150px; animation-duration: 300ms; right: 0px;">
                                                <li class="unfold-item">
                                                    <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                        <i class="gd-pencil unfold-item-icon mr-3"></i>
                                                        <span class="media-body">Edit</span>
                                                    </a>
                                                </li>
                                                <li class="unfold-item">
                                                    <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                        <i class="gd-close unfold-item-icon mr-3"></i>
                                                        <span class="media-body">Delete</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-3">149531</td>
                                    <td class="py-3">
                                        <div>John Doe</div>
                                        <div class="text-muted">Acme Inc.</div>
                                    </td>
                                    <td class="py-3">(000) 111-1234</td>
                                    <td class="py-3">$1,230.00</td>
                                    <td class="py-3">
                                        <span class="badge badge-pill badge-success">Fulfilled</span>
                                    </td>
                                    <td class="py-3">
                                        <div class="position-relative">
                                            <a id="dropDown10Invoker" class="link-dark d-flex" href="#" aria-controls="dropDown10" aria-haspopup="true" aria-expanded="false" data-unfold-target="#dropDown10" data-unfold-event="click" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-animation-in="fadeIn" data-unfold-animation-out="fadeOut">
                                                <i class="gd-more-alt icon-text"></i>
                                            </a>

                                            <ul id="dropDown10" class="unfold unfold-light unfold-top unfold-right position-absolute py-3 mt-1 unfold-css-animation unfold-hidden fadeOut" aria-labelledby="dropDown10Invoker" style="min-width: 150px; animation-duration: 300ms; right: 0px;">
                                                <li class="unfold-item">
                                                    <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                        <i class="gd-pencil unfold-item-icon mr-3"></i>
                                                        <span class="media-body">Edit</span>
                                                    </a>
                                                </li>
                                                <li class="unfold-item">
                                                    <a class="unfold-link media align-items-center text-nowrap" href="#">
                                                        <i class="gd-close unfold-item-icon mr-3"></i>
                                                        <span class="media-body">Delete</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


